body {
  background-color: white;
}

* {
  font-family: 'Avenir Next Condensed', 'Helvetica', sans-serif;
}

/** HEADER **/
.navbar {
  border-radius: 0;
  border: 0;
  height: 100px;
  padding: 20px;
  background: #6cc5f0;
}

/** HEADER TEXT "Food, LLC" **/
.navbar-brand{
  color: #6cc5f0;
  font-size: 36px;
  text-decoration: none;
}

.nav-item{
  background: #6cc5f0;
  text-align: center;
}

.text-center{
  padding: 10px;
}

#container{
  text-align: center;
  background: #6cc5f0;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
}

.title{
  text-align: center;
  padding-top: 10px;
}

.paragraph{
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

/*#logo-img {
  background: url('Cookie.svg') no-repeat;
  width: 100px;
  height: 100px;*/
}
